header{

	nav{
		background-color:#e6e6e6;
		margin-bottom:10px;
		
		.nav-wrapper{
			a{
				margin-top: -3%;

				h1{
					color:$color-naranjo;
					@include logo;
					span{
						color:$color-rosado;
						@include logo;
					}
				}
			}

			ul{
				li{
					a{
						color:gray;
					}

					.home{
						color:$color-naranjo;
					}
				}
			}
		}
	}
}