.about{

	h3{
		@include h4;
	}
}

section{

	.image{
		max-width:50%;
		float:left;

	}

	.parrafo{
		p{
			max-width: 100%;
		    /* padding: 2%; */
		    margin-left: 29%;
		}
	}

	.parra{
		max-width:100%;
	}

	.naranjo{
		border-left: 20px solid $color-naranjo;
		color:$color-naranjo;
		padding:2%;
		max-width: 100%;
	}	
}	